:global(.c-photo-grid-container) {
  display: grid;
  grid-auto-rows: minmax(420px, auto);
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

@media(min-width: 1024px) {
  :global(.c-photo-grid-container) {
    grid-template-columns: repeat(3, 1fr);
  }
}

:global(.c-photo-grid-container__grid-item) {
  box-shadow: none;
  text-decoration: none;
}
